@import "common.scss";
@import "_minix.scss";
html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
    overflow: hidden;
}

header {
    width: 100%;
    height: pxTorem(45px);
    @include box_flex;
    @include align;
    @include justify(space-between);
    @include sizing;
    padding: 0 pxTorem(8px);
    font-size: pxTorem(18px);
    i.icon {
        font-size: pxTorem(18px);
        color: #ccc;
    }
}

section {
    @include flex;
}

.title {
    width: 100%;
    @include box_flex;
    p {
        width: 25%;
        text-align: center;
        @include sizing;
        padding: pxTorem(20px) 0;
        border-bottom: pxTorem(1px) solid #ccc;
        span {
            display: block;
            width: pxTorem(40px);
            height: pxTorem(40px);
            line-height: pxTorem(40px);
            border-radius: 50%;
            background: #ccc;
            margin: 0 auto;
            i.icon {
                color: red;
                font-size: pxTorem(20px);
            }
        }
        b {
            @include sizing;
            padding-top: pxTorem(10px);
        }
    }
}

.text {
    width: 100%;
    height: pxTorem(400px);
    text-align: center;
    line-height: pxTorem(400px);
    border-bottom: pxTorem(1px) solid #ccc;
}

.tui {
    width: 100%;
    @include sizing;
    padding: pxTorem(20px) 0;
    span {
        display: block;
        width: pxTorem(80px);
        height: pxTorem(30px);
        line-height: pxTorem(30px);
        border-radius: pxTorem(15px);
        background: #ccc;
        text-align: center;
        margin: 0 auto;
        i.icon {
            font-size: pxTorem(18px);
        }
    }
}